.signup {
  background-color: lightcyan;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signup-heading{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.submit-button {
  width: 160px;
  height: 40px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  color: #fff;
  border: none;
  cursor: pointer;
}
